.asistencias-skeleton-container {
  width: 100%;
}

.asistencias-skeleton-buttons {
  display: flex;
  gap: 10px;
}

.asistencias-content {
  height: 450px;
  width: 100%;
  margin: 1%;
}

.asistencias-datagrid-wrapper {
  height: 400px;
  width: 100%;
  overflow-y: auto;
}

.time-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.asistencias-cell-scroll {
  max-height: 200px;
  overflow-y: auto;
}